apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base
  - namespace.yaml

namePrefix: prod-

commonLabels:
  environment: production

images:
  - name: aden-hive
    newName: gcr.io/tool-for-analyst/aden-hive
    newTag: latest

patches:
  - path: patches/deployment.yaml
