apiVersion: v1
kind: Service
metadata:
  name: aden-hive
  labels:
    app: aden-hive
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3001
      protocol: TCP
      name: http
  selector:
    app: aden-hive
